@import url(http://fonts.googleapis.com/css?family=Raleway:100);
@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:500);

$fullwidth: 720px;
$fullheight: 1280px;
$fontfamily: 'Raleway', cursive;
$statfont: 'Cabin Condensed', sans-serif;
$orangefont: #fd9421;

body { position: absolute; }

#SuperPage { background: transparent; }

.FullPage {
	width: $fullwidth !important;
	height: $fullheight;
	font-family: $fontfamily;
	background: transparent;
	border-right: 1px #ccc dashed;
	border-bottom: 1px #ccc dashed;

	header {
		width: $fullwidth - 120px;
		height: 50px;
		background: none;
		color: $orangefont;
		text-shadow: none;
		text-align: right;
		z-index: 999;
		position: relative;
		padding-right: 120px;
		margin-top: 30px;

		a {
			color: $orangefont !important;
			text-decoration: none;
		}
	}

	#Content {
		margin-top: -95px;
		z-index: 0;
	}

}

#SearchPage {

	position: absolute;
	top: 0;
	left: 720px;

	.SearchBar {
		list-style-type: none;
		position: absolute;
		top: 159px;
		left: 333px;

		li {
			display: block;
			width: 310px;
			height: 270px;
			margin-bottom: 30px;
			font-size: 40px;
			font-weight: bold;
			text-align: left;
			position: relative;
			z-index: 58;
			color: white;

			input {
				margin-top: 7px;
				position: relative;
				z-index: 60;
				right: 25px;	
			}

		}
	}
}

#ComparePage {

	position: absolute;
	top: 0;
	left: 0;

	.StatsList {
		list-style-type: none;
		position: absolute;
		top: 150px;
		left: 350px;

		li {
			display: block;
			width: 310px;
			height: 270px;
			margin-bottom: 30px;
			font-size: 40px;
			font-weight: bold;
			text-align: left;
			position: relative;
			z-index: 58;
			color: white;

			img {
				margin-top: 25px;
				position: relative;
				z-index: 60;
				float: right;
			}

			span {
				position: absolute;
				top: 110px;
				z-index: 99;
				width: 350px;
				text-align: left;
				right: 0;
				color: #ff931e;
				font-size: 35px;
			}
		}
	}
}

#PostLoading {

	position: absolute;
	top: 0;
	left: 1440px;

	.StatsList {
		list-style-type: none;
		position: absolute;
		top: 150px;
		left: 350px;

		li {
			display: block;
			width: 310px;
			height: 270px;
			margin-bottom: 30px;
			font-size: 40px;
			font-weight: bold;
			text-align: left;
			position: relative;
			z-index: 58;
			color: white;

			img {
				margin-top: 25px;
				position: relative;
				z-index: 60;
				float: right;
			}

			span {
				position: absolute;
				top: 110px;
				z-index: 99;
				width: 350px;
				text-align: left;
				right: 0;
				color: #ff931e;
				font-size: 35px;
			}
		}
	}
}

#FinalScore {

	position: absolute;
	top: 1280px;
	left: 0;

	.StatsList {
		list-style-type: none;
		position: absolute;
		top: 150px;
		left: 350px;

		li {
			display: block;
			width: 310px;
			height: 270px;
			margin-bottom: 30px;
			font-size: 40px;
			font-weight: bold;
			text-align: left;
			position: relative;
			z-index: 58;
			color: white;

			img {
				margin-top: 25px;
				position: relative;
				z-index: 60;
				float: right;
			}

			span {
				position: absolute;
				top: 110px;
				z-index: 99;
				width: 350px;
				text-align: left;
				right: 0;
				color: #ff931e;
				font-size: 35px;
			}
		}
	}
}

#MainPage {

	position: absolute;
	top: 1280px;
	left: 720px;

	.StatsList {
		list-style-type: none;
		position: absolute;
		top: 150px;
		left: 350px;

		li {
			display: block;
			width: 310px;
			height: 270px;
			margin-bottom: 30px;
			font-size: 40px;
			font-weight: bold;
			text-align: left;
			position: relative;
			z-index: 58;
			color: white;

			img {
				margin-top: 25px;
				position: relative;
				z-index: 60;
				float: right;
			}

			span {
				position: absolute;
				top: 110px;
				z-index: 99;
				width: 350px;
				text-align: left;
				right: 0;
				color: #ff931e;
				font-size: 35px;
			}
		}
	}
}

#Loading {

	position: absolute;
	top: 1280px;
	left: 1440px;

	.StatsList {
		list-style-type: none;
		position: absolute;
		top: 150px;
		left: 350px;

		li {
			display: block;
			width: 310px;
			height: 270px;
			margin-bottom: 30px;
			font-size: 40px;
			font-weight: bold;
			text-align: left;
			position: relative;
			z-index: 58;
			color: white;

			img {
				margin-top: 25px;
				position: relative;
				z-index: 60;
				float: right;
			}

			span {
				position: absolute;
				top: 110px;
				z-index: 99;
				width: 350px;
				text-align: left;
				right: 0;
				color: #ff931e;
				font-size: 35px;
			}
		}
	}
}

#Empty {

	position: absolute;
	top: 2560px;
	left: 0;

	.StatsList {
		list-style-type: none;
		position: absolute;
		top: 150px;
		left: 350px;

		li {
			display: block;
			width: 310px;
			height: 270px;
			margin-bottom: 30px;
			font-size: 40px;
			font-weight: bold;
			text-align: left;
			position: relative;
			z-index: 58;
			color: white;

			img {
				margin-top: 25px;
				position: relative;
				z-index: 60;
				float: right;
			}

			span {
				position: absolute;
				top: 110px;
				z-index: 99;
				width: 350px;
				text-align: left;
				right: 0;
				color: #ff931e;
				font-size: 35px;
			}
		}
	}
}

#MyStats {

	position: absolute;
	top: 2560px;
	left: 720px;

	.StatsList {
		list-style-type: none;
		position: absolute;
		top: 150px;
		left: 350px;

		li {
			display: block;
			width: 310px;
			height: 270px;
			margin-bottom: 30px;
			font-size: 40px;
			font-weight: bold;
			text-align: left;
			position: relative;
			z-index: 58;
			color: white;

			img {
				margin-top: 25px;
				position: relative;
				z-index: 60;
				float: right;
			}

			span {
				position: absolute;
				top: 110px;
				z-index: 99;
				width: 350px;
				text-align: left;
				right: 0;
				color: #ff931e;
				font-size: 35px;
			}
		}
	}
}

#PreLoading {

	position: absolute;
	top: 2560px;
	left: 1440px;

	.StatsList {
		list-style-type: none;
		position: absolute;
		top: 150px;
		left: 350px;

		li {
			display: block;
			width: 310px;
			height: 270px;
			margin-bottom: 30px;
			font-size: 40px;
			font-weight: bold;
			text-align: left;
			position: relative;
			z-index: 58;
			color: white;

			img {
				margin-top: 25px;
				position: relative;
				z-index: 60;
				float: right;
			}

			span {
				position: absolute;
				top: 110px;
				z-index: 99;
				width: 350px;
				text-align: left;
				right: 0;
				color: #ff931e;
				font-size: 35px;
			}
		}
	}
}

.FloatMenu {
    width: 200px;
    height: 200px;
    background: black;
    z-index: 100;
    position: fixed;
    top: 1100px;
    right: 200px;
}